name: Despliegue Autom치tico

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Clonar el repositorio
      - name: Chequear el c칩digo
        uses: actions/checkout@v3

      # 2. Configurar Docker usando la acci칩n oficial
      - name: Configurar Docker
        uses: docker/setup-buildx-action@v2

      # 3. Construir y desplegar la aplicaci칩n
      - name: Ejecutar script de despliegue
        run: |
          chmod +x deploy.sh
          ./deploy.sh

